.hr-line::after,
.sec-4-shapes::before,
.shapes::after {
  content: "";
  position: absolute;
}
.featured-properties,
body {
  background-position: center;
}
@font-face {
  font-family: Exo;
  src: url("fonts/Exo-VariableFont_wght.ttf") format("truetype");
}
:root {
  --main-bg-color: #8e51ff;
  --secondrey-color: #00a63e;
  --third-color: #e17100;
  --fourth-color: #4f39f6;
  --main-bg1: #ede9fe;
  --main-bg2: #dbfce7;
  --main-bg3: #f3e8ff;
  --main-bg4: #fef9c2;
  --main-bg5: #e0e7ff;
  --main-bg-6: linear-gradient(to right, #4e1798 30%, #58168c 75%);
}
body {
  background-image: url(images/hero-bg-img.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: Exo, sans-serif !important;
}
body::-moz-selection {
  color: #fff;
  background-color: #a371ffff;
}
body::selection {
  color: #fff;
  background-color: #a371ffff;
}
.section4-bg {
  background-image: var(--main-bg-6);
}
.bg-violet {
  background-color: var(--main-bg-color);
}
.bg-green {
  background-color: var(--secondrey-color);
}
.bg-orangee {
  background-color: var(--third-color);
}
.main-bg1 {
  background-color: var(--main-bg1);
}
.main-bg2 {
  background-color: var(--main-bg2);
}
.main-bg3 {
  background-color: var(--main-bg3);
}
.main-bg6 {
  background-color: var(--fourth-color);
}
.fs-16 {
  font-size: 16px;
}
.main-bg4 {
  background-color: var(--main-bg4);
}
.main-bg5 {
  background-color: var(--main-bg5);
}
.text-third {
  color: var(--third-color);
}
.text-fourth {
  color: var(--fourth-color);
}
.nav-tabs .nav-link.active i,
.text-violet {
  color: var(--main-bg-color);
}
.text-greeen {
  color: var(--secondrey-color);
}
.navbar-nav .nav-link:hover {
  color: #8a2be2;
}
.navbar-nav .nav-link.active {
  font-weight: 700;
  color: #8a2be2;
}
.card-icon-footer {
  background-color: #ede9fe;
}
.bg-gray {
  background-color: #f5f6f8;
}
.hero-section {
  background-color: rgba(138, 43, 226, 0.7);
  height: fit-content;
  padding-top: 160px;
  padding-bottom: 80px;
}
.hero-section header h3 {
  font-size: 48px;
}
.hero-section header > p {
  font-size: 20px;
  color: #ebe6e7;
  line-height: 30px;
}
.hero-section input:focus {
  outline-style: none;
}
.focus-1:focus {
  border-color: #8a2be2;
}
.hero-section form label {
  margin-bottom: 8px;
}
.location-input {
  padding: 12px 16px 12px 48px;
}
.location-input::placeholder {
  color: gray;
}
.input-padding {
  padding: 12px 16px;
}
.form-control:focus,
.form-select:focus {
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #8e51ff;
}
.hero-section form button {
  background-color: #9513fa;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 700;
}
.fs-30,
.statics p {
  font-size: 30px;
}
.fs-14,
.sec-4-shapes,
.shapes p {
  font-size: 14px;
}
.section2,
.section3,
.section4,
.section5,
.section6 {
  padding: 80px 0;
  background-color: #fff;
}
.sec-4-shapes,
.shapes {
  padding: 8px 20px;
  background-color: #f9f5ff;
  border: 2px solid #8e51ff;
}
.mb-64,
.section2 header,
.section3 header {
  margin-bottom: 64px;
}
.shapes::after {
  width: 64px;
  height: 3px;
  background-image: linear-gradient(to right, #fff 40%, #8a2be2 80%);
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
}
.sec-4-shapes::after,
.shapes::before {
  transform: translateY(-50%);
  content: "";
  width: 64px;
  height: 3px;
  position: absolute;
  top: 50%;
}
.sec-4-shapes::after {
  background-image: linear-gradient(
    to right,
    transparent 0,
    orange 20%,
    #ff0 60%,
    orange 85%
  );
  right: 105%;
}
.card-img-top {
  height: 256px;
  object-fit: cover;
}
.shapes::before {
  background-image: linear-gradient(to right, #8a2be2 20%, #fff 60%);
  left: 105%;
  transform: translateY(-50%);
  margin-bottom: 16px;
}
.sec-4-shapes::before {
  width: 64px;
  height: 3px;
  background-image: linear-gradient(
    to right,
    orange 20%,
    #ff0 60%,
    orange 75%,
    transparent 85%
  );
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  margin-bottom: 16px;
}
.shapes p {
  color: #8e51ff;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.after-before::after,
.circle-footer::after {
  width: 350px;
  height: 350px;
  content: "";
  position: absolute;
}
.featured-properties {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #8a2be2 60%,
    #9067b7 78%,
    orange 92%
  );
  color: transparent;
  font-size: 30px;
}
.heart-icon:hover {
  color: red;
}
.card-img:hover img {
  scale: 1.3;
}
.card-img img {
  transition: 0.3s ease-in-out;
}
.price {
  font-size: 30px;
  color: var(--main-bg-color);
}
.text-gray {
  color: gray;
}
.footer-of-card img {
  width: 32px;
  height: 32px;
}
.footer-of-card span {
  font-size: 14px;
  font-weight: 600;
}
.nav-tabs .nav-link.active {
  background-color: #f5f3ff;
  color: var(--main-bg-color);
  border-bottom: 4px solid #8e51ff;
}
.nav-tabs .nav-link {
  padding: 16px 24px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s ease-in;
}
.mb-32,
.nav-tabs {
  margin-bottom: 32px;
}
.icon-bg-dimension {
  width: 40px;
  height: 48px;
  margin-right: 16px;
  padding: 12px;
}
.card {
  box-shadow: 0 0 8px gray;
}
.out-shape,
.out-shape-right {
  box-shadow: 0 0 8px gray;
  bottom: 0;
}
.button-sec2 {
  padding: 16px 32px;
}
.nav-tabs .nav-link:hover {
  color: var(--main-bg-color);
  border-bottom: 2px solid #a26fffff;
}
.out-shape {
  left: -3%;
}
.out-shape-right {
  right: -2%;
}
.h-384px {
  height: 384px;
}
.p-32 {
  padding: 32px;
}
.section2 button:hover {
  background-color: #7a39e6;
}
.feedback-img {
  width: 64px;
  height: 64px;
}
.fs-18,
.navv li a {
  font-size: 18px;
}
.accordion-body,
.accordion-item button {
  padding: 24px 32px;
}
.accordion-item {
  box-shadow: 0 0 8px gray;
  border-radius: 15px !important;
}
.chat,
.email-icon,
.icon-dailer,
.loc-icon {
  width: 64px;
  height: 64px;
  border-radius: 15px;
}
.accordion-button:focus {
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 12px !important;
  background-color: #fff !important;
  color: #000 !important;
}
.section5 {
  background-color: #f9fafb;
}
.after-before::after {
  background-color: #f5f3fe;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.icon-dailer {
  background-color: #822eff;
}
.email-icon {
  background-color: #a334ff;
}
.footer-form .form-check,
.footer-form .padding-br,
.footer-form select,
.footer-form textarea {
  padding: 12px 16px;
  border-radius: 12px;
}
.footer-form textarea {
  resize: none;
}
.email-icon ~ a,
.text-phone {
  color: #a334ff;
}
.loc-icon {
  background-image: linear-gradient(135deg, #e55ad3 60%, orange 82%, #ff0 98%);
}
.clr-loc {
  color: #e60076;
}
.bg-social {
  background-image: linear-gradient(to top, #9017fb, #871efd);
}
.footer-form-button,
.iconnnn,
.sociaal-1,
.sociaal-2,
.sociaal-3,
.sociaal-4 {
  transition: 0.3s;
}
.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}
.footer-form-button:hover {
  background-color: #8114efff;
}
.contact-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social-bg-clr {
  background-color: #a449fd;
}
.form-check-input:focus {
  border: 0;
  box-shadow: 0;
}
.checkkk:checked {
  background-color: var(--main-bg-color);
  color: #fff;
  box-shadow: none;
}
.checkkk:checked:hover {
  background-color: #9513fa;
}
.circle-footer::after {
  background-color: #f5f3fe;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.h-2px {
  height: 60px;
}
.contact-icon:hover {
  transform: scale(1.2);
  background-color: #8e51ff;
}
footer {
  padding: 48px 0;
  background-color: #511794;
}
.hr-line::after {
  bottom: -20%;
  width: 100%;
  border-top: 1.75px solid #672e9a;
}
.ddd {
  width: 1200px;
  height: 450px;
  background-color: #228b22;
}
.sociaal-1:hover .iconnnn,
.sociaal-2:hover .iconnnn,
.sociaal-3:hover .iconnnn,
.sociaal-4:hover .iconnnn {
  transform: scale(1.2);
}
.sociaal-1:hover {
  transform: translateY(-7px);
  border-color: #822eff !important;
}
.sociaal-2:hover,
.sociaal-3:hover {
  transform: translateY(-7px);
}
.sociaal-2:hover {
  border-color: #a334ff !important;
}
.sociaal-3:hover {
  border-color: #e55ccc !important;
}
.sociaal-4:hover {
  transform: translateY(-7px);
  border-color: #4f39f6 !important;
}
.srch-btn:hover {
  background-color: #5722a0ff;
  color: #fff;
}
@media (min-width: 992px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 0;
    height: 100vh;
  }
  .font-header {
    font-size: 48px;
  }
}
